<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <?ifndef Version ?>
    <?define Version = "1.0.0" ?>
  <?endif?>

  <Bundle Name="MUFUTU Desktop"
          Manufacturer="Smart Cloud, Lda"
          Version="$(var.Version)"
          UpgradeCode="D4E5F6A7-B8C9-4D0E-9F1A-2B3C4D5E6F70">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="hyperlinkLicense"
        LicenseUrl=""
        SuppressOptionsUI="yes" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage Id="MufutuMsi"
                  SourceFile="$(var.Mufutu.Package.TargetPath)"
                  Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
